.ProseMirror > section > section > section > section > section:not(.toc) {
  counter-increment: section-5;
  counter-reset: section-6;
}

.ProseMirror
  > section
  > section
  > section
  > section
  > section
  > .block-section_title
  > h1 {
  font-size: 12pt !important;
  font-style: normal !important;
  font-weight: bold !important;
  color: #000 !important;
  text-align: left;
  margin-top: 8pt !important;
  margin-bottom: 5pt !important;
  line-height: 1.5;
  text-indent: 0pt;
  display: inline;
}

.ProseMirror
  > section
  > section
  > section
  > section
  > section:not(.toc)
  > .block-section_title
  > h1::before {
  content: counter(section-1, decimal) '.' counter(section-2, decimal) '.'
    counter(section-3, decimal) '.' counter(section-4, decimal) '.'
    counter(section-5, decimal) '. ';
}

.ProseMirror
  > section
  > section
  > section
  > section
  > section:not(.toc)
  > .block-section_title
  > h1.empty-node[data-placeholder]::before {
  content: counter(section-1, decimal) '.' counter(section-2, decimal) '.'
    counter(section-3, decimal) '.' counter(section-4, decimal) '.'
    counter(section-5, decimal) '. ' attr(data-placeholder);
}

.ProseMirror p.block {
  font-size: 12pt !important;
  font-style: normal !important;
  font-weight: normal !important;
  color: #000 !important;
  text-align: left !important;
  margin-top: 10pt !important;
  margin-bottom: 10pt !important;
  line-height: 2 !important;
  text-indent: 0pt !important;
}

.ProseMirror > section:not(.toc) {
  counter-increment: section-1;
  counter-reset: section-2;
}

.ProseMirror > section > .block-section_title > h1 {
  font-size: 16pt !important;
  font-style: normal !important;
  font-weight: bold !important;
  color: #000 !important;
  text-align: left;
  margin-top: 8pt !important;
  margin-bottom: 5pt !important;
  line-height: 1.5;
  text-indent: 0pt;
  display: inline;
}

.ProseMirror > section:not(.toc) > .block-section_title > h1::before {
  content: counter(section-1, decimal) '. ';
}

.ProseMirror
  > section:not(.toc)
  > .block-section_title
  > h1.empty-node[data-placeholder]::before {
  content: counter(section-1, decimal) '. ' attr(data-placeholder);
}

.ProseMirror > section:not(.toc) {
  counter-increment: section-1;
  counter-reset: section-2;
}

.ProseMirror > section > .block-section_title > h1 {
  font-size: 16pt !important;
  font-style: normal !important;
  font-weight: bold !important;
  color: #000 !important;
  text-align: left;
  margin-top: 8pt !important;
  margin-bottom: 5pt !important;
  line-height: 1.5;
  text-indent: 0pt;
  display: inline;
}

.ProseMirror
  > section
  > section
  > section
  > section
  > section
  > section:not(.toc) {
  counter-increment: section-6;
  counter-reset: section-7;
}

.ProseMirror
  > section
  > section
  > section
  > section
  > section
  > section
  > .block-section_title
  > h1 {
  font-size: 10pt !important;
  font-style: normal !important;
  font-weight: bold !important;
  color: #000 !important;
  text-align: left;
  margin-top: 8pt !important;
  margin-bottom: 5pt !important;
  line-height: 1.5;
  text-indent: 0pt;
  display: inline;
}

.ProseMirror
  > section
  > section
  > section
  > section
  > section
  > section:not(.toc)
  > .block-section_title
  > h1::before {
  content: counter(section-1, decimal) '.' counter(section-2, decimal) '.'
    counter(section-3, decimal) '.' counter(section-4, decimal) '.'
    counter(section-5, decimal) '.' counter(section-6, decimal) '. ';
}

.ProseMirror
  > section
  > section
  > section
  > section
  > section
  > section:not(.toc)
  > .block-section_title
  > h1.empty-node[data-placeholder]::before {
  content: counter(section-1, decimal) '.' counter(section-2, decimal) '.'
    counter(section-3, decimal) '.' counter(section-4, decimal) '.'
    counter(section-5, decimal) '.' counter(section-6, decimal) '. '
    attr(data-placeholder);
}

.ProseMirror > section > section:not(.toc) {
  counter-increment: section-2;
  counter-reset: section-3;
}

.ProseMirror > section > section > .block-section_title > h1 {
  font-size: 14pt !important;
  font-style: normal !important;
  font-weight: bold !important;
  color: #000 !important;
  text-align: left;
  margin-top: 8pt !important;
  margin-bottom: 5pt !important;
  line-height: 1.5;
  text-indent: 0pt;
  display: inline;
}

.ProseMirror > section > section:not(.toc) > .block-section_title > h1::before {
  content: counter(section-1, decimal) '.' counter(section-2, decimal) '. ';
}

.ProseMirror
  > section
  > section:not(.toc)
  > .block-section_title
  > h1.empty-node[data-placeholder]::before {
  content: counter(section-1, decimal) '.' counter(section-2, decimal) '. '
    attr(data-placeholder);
}

.ProseMirror > section > section > section:not(.toc) {
  counter-increment: section-3;
  counter-reset: section-4;
}

.ProseMirror > section > section > section > .block-section_title > h1 {
  font-size: 12pt !important;
  font-style: normal !important;
  font-weight: bold !important;
  color: #000 !important;
  text-align: left;
  margin-top: 8pt !important;
  margin-bottom: 5pt !important;
  line-height: 1.5;
  text-indent: 0pt;
  display: inline;
}

.ProseMirror
  > section
  > section
  > section:not(.toc)
  > .block-section_title
  > h1::before {
  content: counter(section-1, decimal) '.' counter(section-2, decimal) '.'
    counter(section-3, decimal) '. ';
}

.ProseMirror
  > section
  > section
  > section:not(.toc)
  > .block-section_title
  > h1.empty-node[data-placeholder]::before {
  content: counter(section-1, decimal) '.' counter(section-2, decimal) '.'
    counter(section-3, decimal) '. ' attr(data-placeholder);
}

.ProseMirror > section > section > section:not(.toc) {
  counter-increment: section-3;
  counter-reset: section-4;
}

.ProseMirror > section > section > section > .block-section_title > h1 {
  font-size: 12pt !important;
  font-style: normal !important;
  font-weight: bold !important;
  color: #000 !important;
  text-align: left;
  margin-top: 8pt !important;
  margin-bottom: 5pt !important;
  line-height: 1.5;
  text-indent: 0pt;
  display: inline;
}

.ProseMirror
  > section
  > section
  > section:not(.toc)
  > .block-section_title
  > h1::before {
  content: counter(section-1, decimal) '.' counter(section-2, decimal) '.'
    counter(section-3, decimal) '. ';
}

.ProseMirror
  > section
  > section
  > section:not(.toc)
  > .block-section_title
  > h1.empty-node[data-placeholder]::before {
  content: counter(section-1, decimal) '.' counter(section-2, decimal) '.'
    counter(section-3, decimal) '. ' attr(data-placeholder);
}

.ProseMirror > section > section > section > section:not(.toc) {
  counter-increment: section-4;
  counter-reset: section-5;
}

.ProseMirror
  > section
  > section
  > section
  > section
  > .block-section_title
  > h1 {
  font-size: 12pt !important;
  font-style: normal !important;
  font-weight: bold !important;
  color: #000 !important;
  text-align: left;
  margin-top: 8pt !important;
  margin-bottom: 5pt !important;
  line-height: 1.5;
  text-indent: 0pt;
  display: inline;
}

.ProseMirror
  > section
  > section
  > section
  > section:not(.toc)
  > .block-section_title
  > h1::before {
  content: counter(section-1, decimal) '.' counter(section-2, decimal) '.'
    counter(section-3, decimal) '.' counter(section-4, decimal) '. ';
}

.ProseMirror
  > section
  > section
  > section
  > section:not(.toc)
  > .block-section_title
  > h1.empty-node[data-placeholder]::before {
  content: counter(section-1, decimal) '.' counter(section-2, decimal) '.'
    counter(section-3, decimal) '.' counter(section-4, decimal) '. '
    attr(data-placeholder);
}

.ProseMirror > section > section > section > section > section:not(.toc) {
  counter-increment: section-5;
  counter-reset: section-6;
}

.ProseMirror
  > section
  > section
  > section
  > section
  > section
  > .block-section_title
  > h1 {
  font-size: 12pt !important;
  font-style: normal !important;
  font-weight: bold !important;
  color: #000 !important;
  text-align: left;
  margin-top: 8pt !important;
  margin-bottom: 5pt !important;
  line-height: 1.5;
  text-indent: 0pt;
  display: inline;
}

.ProseMirror
  > section
  > section
  > section
  > section
  > section:not(.toc)
  > .block-section_title
  > h1::before {
  content: counter(section-1, decimal) '.' counter(section-2, decimal) '.'
    counter(section-3, decimal) '.' counter(section-4, decimal) '.'
    counter(section-5, decimal) '. ';
}

.ProseMirror
  > section
  > section
  > section
  > section
  > section:not(.toc)
  > .block-section_title
  > h1.empty-node[data-placeholder]::before {
  content: counter(section-1, decimal) '.' counter(section-2, decimal) '.'
    counter(section-3, decimal) '.' counter(section-4, decimal) '.'
    counter(section-5, decimal) '. ' attr(data-placeholder);
}

.ProseMirror > section > section:not(.toc) {
  counter-increment: section-2;
  counter-reset: section-3;
}

.ProseMirror > section > section > .block-section_title > h1 {
  font-size: 14pt !important;
  font-style: normal !important;
  font-weight: bold !important;
  color: #000 !important;
  text-align: left;
  margin-top: 8pt !important;
  margin-bottom: 5pt !important;
  line-height: 1.5;
  text-indent: 0pt;
  display: inline;
}

.ProseMirror > section > section:not(.toc) > .block-section_title > h1::before {
  content: counter(section-1, decimal) '.' counter(section-2, decimal) '. ';
}

.ProseMirror
  > section
  > section:not(.toc)
  > .block-section_title
  > h1.empty-node[data-placeholder]::before {
  content: counter(section-1, decimal) '.' counter(section-2, decimal) '. '
    attr(data-placeholder);
}

.ProseMirror
  > section
  > section
  > section
  > section
  > section
  > section:not(.toc) {
  counter-increment: section-6;
  counter-reset: section-7;
}

.ProseMirror
  > section
  > section
  > section
  > section
  > section
  > section
  > .block-section_title
  > h1 {
  font-size: 10pt !important;
  font-style: normal !important;
  font-weight: bold !important;
  color: #000 !important;
  text-align: left;
  margin-top: 8pt !important;
  margin-bottom: 5pt !important;
  line-height: 1.5;
  text-indent: 0pt;
  display: inline;
}

.ProseMirror
  > section
  > section
  > section
  > section
  > section
  > section:not(.toc)
  > .block-section_title
  > h1::before {
  content: counter(section-1, decimal) '.' counter(section-2, decimal) '.'
    counter(section-3, decimal) '.' counter(section-4, decimal) '.'
    counter(section-5, decimal) '.' counter(section-6, decimal) '. ';
}

.ProseMirror
  > section
  > section
  > section
  > section
  > section
  > section:not(.toc)
  > .block-section_title
  > h1.empty-node[data-placeholder]::before {
  content: counter(section-1, decimal) '.' counter(section-2, decimal) '.'
    counter(section-3, decimal) '.' counter(section-4, decimal) '.'
    counter(section-5, decimal) '.' counter(section-6, decimal) '. '
    attr(data-placeholder);
}

.ProseMirror > section > section > section > section:not(.toc) {
  counter-increment: section-4;
  counter-reset: section-5;
}

.ProseMirror
  > section
  > section
  > section
  > section
  > .block-section_title
  > h1 {
  font-size: 12pt !important;
  font-style: normal !important;
  font-weight: bold !important;
  color: #000 !important;
  text-align: left;
  margin-top: 8pt !important;
  margin-bottom: 5pt !important;
  line-height: 1.5;
  text-indent: 0pt;
  display: inline;
}

.ProseMirror
  > section
  > section
  > section
  > section:not(.toc)
  > .block-section_title
  > h1::before {
  content: counter(section-1, decimal) '.' counter(section-2, decimal) '.'
    counter(section-3, decimal) '.' counter(section-4, decimal) '. ';
}

.ProseMirror
  > section
  > section
  > section
  > section:not(.toc)
  > .block-section_title
  > h1.empty-node[data-placeholder]::before {
  content: counter(section-1, decimal) '.' counter(section-2, decimal) '.'
    counter(section-3, decimal) '.' counter(section-4, decimal) '. '
    attr(data-placeholder);
}

.ProseMirror .figure-block {
  border-color: #000 !important;
  border-style: none !important;
  border-width: 0pt !important;

  padding: 4pt !important;
  gap: 4pt !important;

  grid-template-columns: repeat(3, auto) !important;
  grid-template-rows: repeat(1, minmax(min-content, max-content)) [caption listing] auto !important;
}

.ProseMirror .figure-group {
  border: 1px solid #f2f2f2;
  border-radius: 4px;
  padding: 0.5rem;
}

.ProseMirror .figure-block > figure {
  border-color: #000 !important;
  border-style: none !important;
  border-width: 0pt !important;
  position: relative;
  grid-column: 2;
}

.ProseMirror .figure-block > figcaption .figure-label {
  display: initial !important;
}

.ProseMirror .figure-block[id^='MPTable'] {
  border-collapse: collapse;
  empty-cells: show;
  display: grid;
}

.ProseMirror .figure-block[id^='MPTable'] tr:first-of-type > td {
  background-color: #eee !important;

  border-top-color: #000 !important;
  border-top-style: none !important;
  border-top-width: 2pt !important;

  border-bottom-color: #000 !important;
  border-bottom-style: none !important;
  border-bottom-width: 1pt !important;
}

.ProseMirror .figure-block[id^='MPTable'] tr:last-of-type > td {
  background-color: #eee !important;

  border-top-color: #000 !important;
  border-top-style: none !important;
  border-top-width: 1pt !important;

  border-bottom-color: #000 !important;
  border-bottom-style: none !important;
  border-bottom-width: 1pt !important;
}

.ProseMirror .figure-block[id^='MPTable'] > figcaption {
  grid-row: 2 !important;
  text-align: center !important;
}

.unsupported-format-label {
  font-size: 140%;
  line-height: 1.3;
  padding: 10px 0;
}
.unsupported-icon-wrapper {
  padding: 0 0 15px;
}
.tools-panel {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
}

.tools-bottom {
  top: auto;
  bottom: 0;
}

.tools-static {
  position: static;
}

.block-comment-button {
  cursor: pointer;
  position: relative;
  height: 0;
  width: 0;
}

.block-comment-button:active > svg > path {
  stroke: #f7b314;
  fill: #ffe0b2;
}

.selected-comment > svg > path {
  stroke: #f7b314;
  fill: #ffe0b2;
}

.block-comment-button.block-comment {
  z-index: 10;
  left: 93%;
}

.block-comment > .comment-icon,
.group-comment-icon {
  position: absolute;
  top: 16px;
}

.block-comment > .group-comment-icon {
  left: 7px;
  top: 10px;
}

.block-comment-button.figure-comment {
  position: absolute;
  right: 3%;
}

.figure-comment > .comment-icon {
  position: absolute;
  top: 6px;
}

.figure-comment > .group-comment-icon {
  top: 0;
  left: 7px;
}

.block-comment-button.inline-comment {
  z-index: 10;
  left: 100%;
}

.inline-comment > .comment-icon,
.group-comment-icon {
  position: absolute;
  top: 12px;
}

.inline-comment > .group-comment-icon {
  left: 8px;
  top: 6px;
}

.block-comment-button.inline-citation {
  z-index: 1;
  left: -1%;
  top: -8%;
  display: inline-flex;
}

.block-comment-button.point-comment {
  z-index: 1;
  left: 0;
  bottom: 38px;
  display: inline-flex;
}
